* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --main-fz: 18px;
  --title-fz: 24px;
  --text-fz: 14px;

  --main-fw: 400;
  --secondary-fw: 700;

  --main-lh: calc(19 / 14);
  --title-lh: calc(33 / 24);
  --secondary-lh: calc(25 / 18);

  /* Colors */
  --main-light: #fff;
  --main-dark: #303030;
  --title: #868585;
  --accent: #4cc21de5;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  /* position: relative; */

  font-family: 'Noto Sans', sans-serif;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: var(--main-lh);
  color: var(--main-dark);

  background-color: var(--main-light);
}

.wrapper {
  padding: 10px;
}

/* Common styles--------------------------- */
.section {
  margin: 0px auto;

  max-width: 1200px;
}

.title {
  font-weight: var(--secondary-fw);
  font-size: var(--title-fz);
  line-height: var(--title-lh);
  color: #868585;

  text-transform: uppercase;
}

.subtitle {
  font-weight: var(--secondary-fw);
  font-size: var(--main-fz);
  line-height: var(--secondary-lh);
  color: var(--main-dark);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/* ---------------------------------------- */

/* Header section-------------------------- */
.header {
  position: relative;
  z-index: 2;

  min-width: 100%;
  transition: all 3s ease 0s;
  animation: logo 3s forwards;
}

@keyframes logo {
  0% {
    transform: translateY(-150%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-wrapper {
  padding-top: 70px;

  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------- */
.header__pic {
  max-width: 100%;
}

/* Main section---------------------------- */

/* Hero section---------------------------- */
.hero {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

  background: url(../img/main/hero/back.jpg) center / cover no-repeat;
}

.hero-wrapper {
  padding-top: 220px;

  text-align: center;

  transition: animation 4s ease 0s;
  animation: hero 3s forwards;

  opacity: 0;
}

@keyframes hero {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
/* ---------------------------------------- */
.hero__text {
  color: var(--main-light);
}

.hero__title {
  font-size: 64px;
  line-height: calc(87 / 64);
  font-variant: small-caps;
  color: var(--main-light);
}

.hero__desc {
  padding-bottom: 50px;

  font-size: 42px;
  line-height: 57px;
  color: var(--main-light);
}

.hero__btn {
  position: relative;
  padding: 10px 30px;
  margin: 45px 0;

  color: var(--main-light);

  transition: 0.5s;
}

.hero__btn::before {
  content: ' ';
  position: absolute;
  top: -1px;
  left: -1px;

  width: 10px;
  height: 10px;

  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);

  transition: 0.5s;
  transition-delay: 0.5s;
}

.hero__btn::after {
  content: ' ';
  position: absolute;
  bottom: -1px;
  right: -1px;

  width: 10px;
  height: 10px;

  border-bottom: 3px solid var(--accent);
  border-right: 3px solid var(--accent);

  transition: 0.5s;
  transition-delay: 0.5s;
}

.hero__btn:hover::before,
a:hover::after {
  width: 100%;
  height: 100%;

  transition-delay: 0s;
}

.hero__btn:hover {
  background: var(--accent);
  color: #000;
  box-shadow: 0 0 50px var(--accent);
  transition-delay: 0.5s;
}

/* Hero section mobile styles-------------- */
@media (max-width: 767px) {
  .hero-wrapper {
    padding-top: 180px;
  }

  .hero__title {
    padding-top: 15px;

    font-size: 48px;
    line-height: calc(64 / 48);
  }

  .hero__desc {
    font-size: 30px;
    line-height: calc(40 / 30);
  }
}

/* ---------------------------------------- */
.hero-list {
  padding-top: 106px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__item:not(:first-child) {
  padding-left: 20px;
}

/* Hero font awesome styles---------------- */
.fa-instagram,
.fa-paper-plane,
.fa-whatsapp,
.fa-facebook-f {
  font-size: 36px;
  color: var(--main-light);

  transition: all 0.8s ease 0s;
}

.fa-paper-plane,
.fa-facebook-f {
  font-size: 32px;
}

.fa-instagram:hover,
.fa-instagram:focus,
.fa-paper-plane:hover,
.fa-paper-plane:focus,
.fa-whatsapp:hover,
.fa-whatsapp:focus,
.fa-facebook-f:hover,
.fa-facebook-f:focus {
  color: var(--accent);
}

/* Services section------------------------ */

.services-wrapper {
  margin-top: 545px;
}

/* ---------------------------------------- */
.services__title {
  padding-bottom: 60px;
}

/* ---------------------------------------- */
.services-content {
  display: flex;
}

.services__list {
  padding-right: 89px;
}

/* ---------------------------------------- */
.services__item:not(:last-child) {
  padding-bottom: 50px;
}

.services__subtitle {
  padding-bottom: 15px;
}

.services__desc {
  font-size: var(--text-fz);
}

/* ---------------------------------------- */
.services__img {
  max-width: 100%;
}

/* Services mobile section----------------- */
@media (max-width: 1200px) {
  .services-wrapper {
    margin-top: 560px;
  }

  .services-content {
    flex-direction: column;
    align-items: center;
  }

  .services__title {
    padding-bottom: 20px;

    text-align: center;
  }

  .services__list {
    padding-right: 0;

    text-align: center;
  }

  .services__item:not(:last-child) {
    padding-bottom: 0px;
  }

  .services__desc {
    padding-bottom: 15px;
  }

  .services__img {
    max-height: 300px;
  }
}

@media (max-width: 767px) {
  .services-wrapper {
    margin-top: 500px;
  }
}

@media (max-width: 416px) {
  .services-wrapper {
    margin-top: 540px;
  }
}
